/* :root{
  -- primary-text-color: #757575;
  --title-text-color: #212121;
  --accent: #2196f3;
}
main color text  #757575;*/

/*second colorbackground: #212121;*/
/*acent #2196F3;*/
/*white #FFFFFF; */
/*

*/

/*Style header*/
.list {
  list-style: none;
}
body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;

}
.logo {
  color: #000000;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;

}

.accent-logo {
  color: #2196f3;
}

.site-nav .link {
  color: #212121;
font-size: 14px;
font-weight: 500;
line-height: 1.14px;
letter-spacing: 0.02em;
text-decoration: none;

}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
/*Contacts*/
.contact .link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-style: normal;

}
.contact .link:focus,
.contact .link:hover {
  color: #2196f3;
}


/*Hiro*/
.hiro {
  background: #2f303a;
}
.hiro-title {
  color: #ffffff;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

}
.hiro-botton{
  font-family: inherit;
  background: #2196f3;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;



}
/*Section*/
.section-title {


  color: #212121;
 font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;

}
/*Features*/
.features .title {
  color: #212121;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;


}
/*Our team*/
 .our-team .name,
 .our-team .profession{
font-size: 16px;
line-height: 1.18;
letter-spacing: 0.03em;
text-align: center;
}

.our-team .name {
  color: #212121;
  font-weight: 500;
}

/*Footer*/
.footer {
  background: #2f303a;
}


.logo-footer {
  color: #ffffff;
  
}
.footer-contact{
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;



}


/*Portfolio*/
.portolio-list{
  background: #F5F4FA;
  color:  #212121;

}
.portolio-list:hover,
.portolio-list:focus{
  background: #2196f3;
  color: #ffffff;

}